<%= render partial: 'shared/header' %>

<section class="s-featured-embassador">
    <div class="s-container">
        <h2><%= t('developer.index.title') %></h2>
        <h1><%= t('developer.index.subtitle') %></h1>
        <p><%= t('developer.index.explanation') %></p>
        <a href="#" class="btn-start-now"><%= t('developer.index.view_on_github') %></a>
        <img src="/img/img-developer.png" class="img-developer" alt="">
    </div>
</section>
<section class="all-peoples">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="top">
                    <h1><%= t('developer.index.current_developer') %></h1>
                    <p><%= t('developer.index.got_questions_html') %></p>
                </div>
            </div>
        </div>
        <div class="row line-people">
            <% 4.times do %>
		<div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="box-people">
			<div class="photo">
                            <img src="/img/photo-people-02.png" alt="">
			</div>
			<h1><%= t('embassador.index.embassador') %></h1>
			<span><%= t('embassador.index.embassador_occupation') %></span>
			<span><%= t('embassador.index.embassador_location') %></span>
			<div class="country">
                            <img src="/img/idioma-eua.svg" alt="">
			</div>
			<div class="social">
                            <ul>
				<li>
                                    <a href="#" target="_blank">
					<img src="/img/facebook-azul-02.png" alt="">
                                    </a>
				</li>
				<li>
                                    <a href="#" target="_blank">
					<img src="/img/twitter-azul-02.png" alt="">
                                    </a>
				</li>
				<li>
                                    <a href="#" target="_blank">
					<img src="/img/linkedin-azul.png" alt="">
                                    </a>
				</li>
				<li>
                                    <a href="#" target="_blank">
					<img src="/img/instagram-azul.png" alt="">
                                    </a>
				</li>
                            </ul>
			</div>
                    </div>
		</div>
	    <% end %>
        </div>
        <div class="row line-people">
            <% 4.times do %>
		<div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="box-people">
			<div class="photo">
                            <img src="/img/photo-people-02.png" alt="">
			</div>
			<h1><%= t('embassador.index.embassador') %></h1>
			<span><%= t('embassador.index.embassador_occupation') %></span>
			<span><%= t('embassador.index.embassador_location') %></span>
			<div class="country">
                            <img src="/img/idioma-eua.svg" alt="">
			</div>
			<div class="social">
                            <ul>
				<li>
                                    <a href="#" target="_blank">
					<img src="/img/facebook-azul-02.png" alt="">
                                    </a>
				</li>
				<li>
                                    <a href="#" target="_blank">
					<img src="/img/twitter-azul-02.png" alt="">
                                    </a>
				</li>
				<li>
                                    <a href="#" target="_blank">
					<img src="/img/linkedin-azul.png" alt="">
                                    </a>
				</li>
				<li>
                                    <a href="#" target="_blank">
					<img src="/img/instagram-azul.png" alt="">
                                    </a>
				</li>
                            </ul>
			</div>
                    </div>
		</div>
	    <% end %>
        </div>
        <div class="row line-people">
            <% 4.times do %>
		<div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="box-people">
			<div class="photo">
                            <img src="/img/photo-people-02.png" alt="">
			</div>
			<h1><%= t('embassador.index.embassador') %></h1>
			<span><%= t('embassador.index.embassador_occupation') %></span>
			<span><%= t('embassador.index.embassador_location') %></span>
			<div class="country">
                            <img src="/img/idioma-eua.svg" alt="">
			</div>
			<div class="social">
                            <ul>
				<li>
                                    <a href="#" target="_blank">
					<img src="/img/facebook-azul-02.png" alt="">
                                    </a>
				</li>
				<li>
				    <a href="#" target="_blank">
					<img src="/img/twitter-azul-02.png" alt="">
				    </a>
				</li>
				<li>
				    <a href="#" target="_blank">
					<img src="/img/linkedin-azul.png" alt="">
				    </a>
				</li>
				<li>
				    <a href="#" target="_blank">
					<img src="/img/instagram-azul.png" alt="">
				    </a>
				</li>
                            </ul>
			</div>
		    </div>
		</div>
	    <% end %>
        </div>
        <div class="row line-people">
            <% 4.times do %>
		<div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="box-people">
			<div class="photo">
                            <img src="/img/photo-people-02.png" alt="">
			</div>
			<h1><%= t('embassador.index.embassador') %></h1>
			<span><%= t('embassador.index.embassador_occupation') %></span>
			<span><%= t('embassador.index.embassador_location') %></span>
			<div class="country">
                            <img src="/img/idioma-eua.svg" alt="">
			</div>
			<div class="social">
                            <ul>
				<li>
                                    <a href="#" target="_blank">
					<img src="/img/facebook-azul-02.png" alt="">
                                    </a>
				</li>
				<li>
				    <a href="#" target="_blank">
					<img src="/img/twitter-azul-02.png" alt="">
				    </a>
				</li>
				<li>
				    <a href="#" target="_blank">
					<img src="/img/linkedin-azul.png" alt="">
				    </a>
				</li>
				<li>
				    <a href="#" target="_blank">
					<img src="/img/instagram-azul.png" alt="">
				    </a>
				</li>
                            </ul>
			</div>
		    </div>
		</div>
	    <% end %>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn-show-more"><%= t('developer.index.show_more') %></button>
            </div>
        </div>
    </div>
</section>

<%= render partial: 'shared/footer' %>
