<div class="header-mobile">
    <div class="container-logo">
        <a href="/">
	    <img src="/img/logo.svg" alt="">
        </a>
    </div>
    <div class="btns-menu">
        <button class="btn-login">
	    <img src="/img/login.svg" class="btn-login-responsive img-responsive" class="img-responsive" alt="">
        </button>
        <a id="js-open-menu" class="menu-button">
	    <i class="menu-icon"></i>
        </a>
        <div class="popup-login">
	    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <button class="login-with-linkedin">
		    <img src="/img/linkedin-resume.svg" alt="">
		    <span><%= t('header.sign_in_with_linkedin') %></span>
                </button>
                <span class="span-or"><%= t('header.or_sign_in_with_email') %></span>
                <div class="form-group">
		    <%= f.email_field :email, autofocus: true, placeholder: 'Email or Username', class: 'form-control' %>
                </div>
                <div class="form-group">
		    <div class="input-group">
			<%= f.text_field :password, autocomplete: 'off', placeholder: 'Password', class: 'form-control' %>

			<span class="input-group-btn">
			    <%= f.submit 'Login', class: 'btn btn-default' do %>
				<img src="/img/seta-dir-white-login.svg" alt="">
			    <% end %>
                        </span>
		    </div>
                </div>
                <div class="text-information">
		    <span><%= t('header.need_account_html') %></span>
		    <span><a href="/password/new"><%= t('header.forgot_password') %></a></span>
                </div>
	    <% end %>
        </div>
        <div class="menu-colapsado">
	    <ul>
                <li><a href="/companies"><%= t('header.companies') %></a></li>
                <li><a href="/deals"><%= t('header.deals') %></a></li>
                <li><a href="/people"><%= t('header.people') %></a></li>
                <li><a href="/investors"><%= t('header.investors') %></a></li>
                <li><a href="" class="btn-involved"><%= t('header.get_involved') %> <img src="/img/seta.svg" alt=""></a></li>
                <div class="popup-involved">
		    <a href="/embassador"><%= t('header.embassador_program') %></a>
		    <a href="/developer"><%= t('header.developer_program') %></a>
		    <a href="/about"><%= t('header.about_us') %></a>
                </div>
                <li><a href="sign-up" class="btn-join-now"><%= t('header.join_us') %></a></li>
                <div class="language">
		    <button type="button" class="btn-idioma">
                        <img src="/img/language.svg" class="flag" alt="">
                        <img src="/img/arrow-down.svg" class="arrow-down" alt="">
		    </button>
		    <div class="change-language">
                        <a href="/?language=pt-br">
			    <img src="/img/idioma-ptbr.svg" class="flag">
                        </a>
                        <a href="/?language=en">
			    <img src="/img/idioma-eua.svg" class="flag">
                        </a>
                        <a href="/?language=es">
			    <img src="/img/idioma-esp.svg" class="flag">
                        </a>
		    </div>
                </div>
	    </ul>
        </div>
    </div>
</div>
