<section class="s-reasons">
    <div class="s-container">
	<span class="text-receive"><%= t('home.reasons.text_receive') %></span>
	<iframe src="/animation/receive/demo.html" frameborder="0" allowtransparency="true" class="img-featured"></iframe>
	<div class="text-reasons">
            <h1><%= t('home.reasons.more_reasons') %></h1>
            <ul>
		<li>
                    <span class="num">01</span>
                    <p><%= t('home.reasons.latest_news') %></p>
		</li>
		<li>
                    <span class="num">02</span>
                    <p><%= t('home.reasons.become_part') %></p>
		</li>
		<li>
                    <span class="num">03</span>
                    <p><%= t('home.reasons.completely_free') %></p>
		</li>
            </ul>
            <a href="/signup" class="btn-join"><%= t('home.reasons.join_now') %></a>
	</div>
    </div>
</section>
