<%= render partial: 'shared/header' %>

<section class="s-featured">
    <div class="s-container">
	<%= render partial: 'shared/flash_messages' %>

	<div class="text-featured">
            <h2>100% crowdsourced</h2>
            <h1>The ultimate resource for<br>tech deals in Brazil</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
            <a href="/signup">join now</a>
	</div>
	<iframe src="/animation/s-featured/demo.html" frameborder="0" allowtransparency="true" class="img-featured"></iframe>
    </div>
</section>

<%= render partial: 'about_us' %>

<%= render partial: 'reasons' %>

<%= render partial: 'updates' %>

<%= render partial: 'shared/footer' %>
