<%= render partial: 'shared/header' %>

<section class="s-featured">
    <div class="s-container">
	<%= render partial: 'shared/flash_messages' %>

	<div class="text-featured">
            <h2><%= t('home.section_featured.title') %></h2>
            <h1><%= t('home.section_featured.subtitle_html') %></h1>
            <p><%= t('home.section_featured.subtitle2') %></p>
            <a href="/signup">join now</a>
	</div>
	<iframe src="/animation/s-featured/demo.html" frameborder="0" allowtransparency="true" class="img-featured"></iframe>
    </div>
</section>

<%= render partial: 'about_us' %>

<%= render partial: 'reasons' %>

<%= render partial: 'updates' %>

<%= render partial: 'shared/footer' %>
