<%= render partial: 'shared/header' %>

<section class="s-title-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-7">
                <h1><%= t('companies.index.companies') %></h1>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5">
                <h2><%= @companies.count %> <%= t('companies.index.companies').downcase %></h2>
                <a href="/companies/new"><%= t('companies.index.new') %></a>
            </div>
        </div>
    </div>
</section>

<%= render partial: 'filters' %>

<section class="s-table-results">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <p class="results">
		    <%= page_entries_info @companies_paginated %>
		</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <a href="/companies.xls" class="btn-export">
                    <img src="/img/export.svg" alt="">
                    <%= t('companies.index.export') %>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
		<%= render partial: 'shared/flash_messages' %>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> <%= t('companies.index.column_company') %> <img src="/img/filter.svg" alt=""> </th>
                                <th> <%= t('companies.index.column_status') %> <img src="/img/filter.svg" alt=""> </th>
                                <th> <%= t('companies.index.column_location') %> <img src="/img/filter.svg" alt=""> </th>
                                <th colspan="2"> <%= t('companies.index.column_deals') %> <img src="/img/filter.svg" alt=""> </th>
                            </tr>
                        </thead>
                        <tbody>
			    <% @companies_paginated.each do |company| %>
				<tr>
                                    <td><img src="/img/logo-company.png" alt=""> <%= company.name %></td>
                                    <td class="status-active"><span class="circulo"></span> <%= company.status %></td>
                                    <td><%= company.locations.pluck(:city, :country).join(', ') %></td>
                                    <td><%= company.deals.map(&:category).uniq.join(', ') %></td>
                                    <td><a href="/companies/<%= company.permalink %>"><img src="/img/seta-dir.svg" alt=""></a></td>
				</tr>
			    <% end %>
                        </tbody>
                    </table>
                </div>

		<%= paginate @companies_paginated %>
            </div>
        </div>
    </div>
</section>

<%= render partial: 'shared/footer' %>
