<%= render partial: 'shared/header' %>

<section class="s-title-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-7">
                <h1>Companies</h1>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5">
                <h2><%= @companies.count %> companies</h2>
                <a href="/companies/new">Create new</a>
            </div>
        </div>
    </div>
</section>
<section class="filter-block">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="container-filter">
                    <h3><img src="/img/seta-baixo.svg" alt=""> Filter Companies</h3>
                    <div class="filter-result">
                        <div class="filter-complete">

                        </div>
                        <button class="add-new-filter"><img src="/img/img-new-filter.svg" alt="" data-toggle="modal" data-target="#modalFilter"></button>
                        <button class="btn-app-filter">Apply Filter</button>
                    </div>
                    <div class="filter-empty">
                        <a href="#" class="btn-add-filter-modal" data-toggle="modal" data-target="#modalFilter"><img src="/img/add.svg" alt=""> Add filter company</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="s-table-results">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <p class="results">
		    <%= page_entries_info @companies_paginated %>
		</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <a href="#" class="btn-export">
                    <img src="/img/export.svg" alt="">
                    Export your results
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
		<%= render partial: 'shared/flash_messages' %>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Company
                                    <img src="/img/filter.svg" alt="">
                                </th>
                                <th>
                                    Status
                                    <img src="/img/filter.svg" alt="">
                                </th>
                                <th>
                                    Location
                                    <img src="/img/filter.svg" alt="">
                                </th>
                                <th colspan="2">
                                    Deals
                                    <img src="/img/filter.svg" alt="">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
			    <% @companies_paginated.each do |company| %>
				<tr>
                                    <td><img src="/img/logo-company.png" alt=""> <%= company.name %></td>
                                    <td class="status-active"><span class="circulo"></span> <%= company.status %></td>
                                    <td><%= company.locations.pluck(:city, :region, :country).join(', ') %></td>
                                    <td><%= company.deals.map(&:category).uniq.join(', ') %></td>
                                    <td><a href="/companies/<%= company.permalink %>"><img src="/img/seta-dir.svg" alt=""></a></td>
				</tr>
			    <% end %>
                        </tbody>
                    </table>
                </div>

		<%= paginate @companies_paginated %>
            </div>
        </div>
    </div>
</section>

<%= render partial: 'shared/footer' %>

<%= render partial: 'index_filter' %>
