<%= render partial: 'shared/header' %>

<section class="s-title-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-7">
                <h1><%= t('deals.index.deals') %></h1>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5">
                <h2><%= @deals.count %> <%= t('deals.index.deals') %></h2>
                <a href="/deals/new"><%= t('deals.index.new') %></a>
            </div>
        </div>
    </div>
</section>

<%= render partial: 'filters' %>

<section class="s-table-results">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <p class="results"><%= page_entries_info @deals_paginated %></p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <a href="/deals.xls" class="btn-export">
                    <img src="/img/export.svg" alt="">
                    <%= t('deals.index.export') %>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
		<%= render partial: 'shared/flash_messages' %>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><%= t('deals.index.column_company') %> <img src="/img/filter.svg" alt=""></th>
                                <th><%= t('deals.index.column_close_date') %> <img src="/img/filter.svg" alt=""></th>
                                <th><%= t('deals.index.column_deal_type') %> <img src="/img/filter.svg" alt=""></th>
                                <th><%= t('deals.index.column_investors') %> <img src="/img/filter.svg" alt=""></th>
                                <th><%= t('deals.index.column_amount') %> <img src="/img/filter.svg" alt=""></th>
                            </tr>
                        </thead>
                        <tbody>
			    <% @deals_paginated.each do |deal| %>
				<tr>
                                    <td><img src="/img/logo-investors.png" alt=""> <%= deal.company.name %></td>
                                    <td><%= deal.close_date %></td>
                                    <td><%= deal.category %></td>
                                    <td><%= deal.deal_investors.map(&:investor).map(&:name).join(', ') %></td>
                                    <td><%= number_to_currency(deal.amount, unit: "#{deal.amount_currency} ") %></td>
				</tr>
			    <% end %>
                        </tbody>
                    </table>
                </div>

                <%= paginate @deals_paginated %>
            </div>
        </div>
    </div>
</section>

<%= render partial: 'shared/footer' %>
