<%= render partial: 'shared/header' %>

<section class="form-create">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <a href="/deals" class="btn-back"><img src="/img/seta-esq-cinza.svg" alt=""> back</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h1 class="title">Create new Deal</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5">
		<%= form_for @deal do |f| %>
		    <% if @deal.errors.any? %>
			<% @deal.errors.full_messages.each do |error| %>
			    <div class="alert alert-danger" role="alert"><%= error %></div>
			<% end %>
		    <% end %>

                    <div class="form-group">
			<%= f.select(
			    :company_id,
			    @companies.collect { |c| [c.name, c.id] },
			    { prompt: 'Select a company' },
			    { class: 'select-category' }
			) %>
                    </div>
                    <div class="form-group">
                        <div class="input-group date-close">
                            <span class="input-group-addon"><img src="/img/calendar.svg" alt=""></span>
			    <%= f.text_field :close_date, placeholder: 'Close date', class: 'form-control', 'aria-label' => 'Username' %>
                        </div>
			<%= f.select(
			    :category,
			    Deal::CATEGORIES.collect { |category| [category, category] },
			    { prompt: 'Select a category' },
			    { class: 'select-category' }
			) %>
                    </div>
                    <div class="form-group">
			<%= f.fields_for :deal_investors_attributes do |investor_form| %>
			    <%= investor_form.select(
				:investor_id,
				@investors.collect { |c| [c.investable.name, c.id] },
				{ prompt: 'Select an investor' },
				{ class: 'select-category' }
			    ) %>
			<% end %>
                    </div>
                    <div class="form-group">
			<%= f.select(
			    :round,
			    Deal::ROUNDS.collect { |round| [round, round] },
			    { prompt: 'Select a round' },
			    { class: 'select-round' }
			) %>

			<%= f.select(
			    :amount_currency,
			    Deal::CURRENCIES.collect { |currency| [currency, currency] },
			    { prompt: 'Select a currency' },
			    { class: 'select-currency' }
			) %>
                    </div>
                    <div class="form-group">
			<%= f.text_field :amount_cents, placeholder: 'Total amount', class: 'input-total-amount' %>
                    </div>
                    <div class="form-group">
			<%= f.text_field :pre_valuation_cents, placeholder: 'Pre-money valuation', class: 'input-money' %>
                    </div>
                    <div class="form-group">
			<%= f.text_area :source_url, placeholder: 'Source URL - http://www.example.com', rows: 6 %>
                    </div>
                    <div class="form-group">
			<%= f.submit 'Create Deal' %>
                    </div>
                <% end %>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7">
                <div class="text-featured">
                    <h1>Lorem ipsum dolor sit </h1>
                    <p>Lorem ipsum dolor sit </p>
                    <img src="/img/img-featured-create-deal.png" class="img-featured-create-deal" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<%= render partial: 'shared/footer' %>
