<%= render partial: 'shared/header' %>

<section class="top-section-detail-investor">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <a href="/investors" class="btn-back"><img src="/img/seta-esq-cinza.svg" alt=""> back </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="detail-investor-geral">
                    <div class="status-name">
                        <div class="status active">
                            <span class="circle"></span> <%= @investor.status %>
                        </div>
                        <h1> <%= @investor.investable.name %></h1>
                        <h2 class="category">
                            <img src="/img/clock.svg" alt="">
                            Category: <%= @investor.category %>
                        </h2>
                    </div>
                    <div class="info-geral">
                        <div class="item">
                            <h3><%= @investor.deals.count %></h3>
                            <span>Investments</span>
                        </div>
                        <div class="item">
                            <h3><%= @investor.deals.map(&:company).uniq.count %></h3>
                            <span>Companies</span>
                        </div>
                        <div class="item">
                            <h3><%= number_to_currency(@investor.deals.sum(&:amount)) %></h3>
                            <span>Funds Raised</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="details-gerals">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3">
                <div class="description">
                    <h1>
                        <img src="/img/description.svg" alt="">
                        Description
                    </h1>
                    <p><%= @investor.investable.description %></p>
                    <ul class="info-contact">
                        <li>
			    <p>
                                <strong>Site:</strong> <a href="<%= @investor.investable.website_url %>" target="_blank"><%= @investor.investable.website_url %></a>
			    </p>
                        </li>

                        <li>
                            <p>
                                <strong>Born date:</strong> <%= @investor.investable.born_date %>
                            </p>
                        </li>
                    </ul>
                    <div class="social">
                        <h1>Social medias</h1>
                        <ul>
			    <% if @investor.investable.facebook_url %>
				<li>
                                    <a href="<%= @investor.investable.facebook_url %>" target="_blank">
					<img src="/img/facebook-colorido.svg" alt="">
                                    </a>
				</li>
			    <% end %>

			    <% if @investor.investable.twitter_url %>
				<li>
                                    <a href="<%= @investor.investable.twitter_url %>" target="_blank">
					<img src="/img/twitter-colorido.svg" alt="">
                                    </a>
				</li>
			    <% end %>

			    <% if @investor.investable.linkedin_url %>
				<li>
                                    <a href="<%= @investor.investable.linkedin_url %>" target="_blank">
					<img src="/img/linkedin-colorido.svg" alt="">
                                    </a>
				</li>
			    <% end %>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9">
                <div class="tables-info-company">
		    <% if @investor.deals.any? %>
			<%= render partial: 'investors/show/investments' %>
		    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>

<%= render partial: 'shared/footer' %>
